<h1>Edit Photo <%@photo.caption%></h1>

<form action="http://localhost:3000/update_row/<%=@photo.id%>">
  <div>
    <label for="@photo.caption">Caption:</label>
    <input id="@photo.caption" type="text" name="caption" value="<%=@photo.caption%>">
  </div>
  <div>
    <label for="@photo.source">Source:</label>
    <input id="@photo.source" type="text" name="source" value="<%=@photo.source%>">
  </div>
  <div>
    <button>Edit Photo</button>
  </div>
</form>
