<h1>Add New Photo</h1>

<form action="http://localhost:3000/create_photo">
  <div>
    <label for="p.caption">Caption:</label>
    <input id="p.caption" type="text" name="caption">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="file" name="source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
